@model IEnumerable<BLL.App.DTO.ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Carts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser!.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser!.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">@Resources.Views.ShoppingCart.ViewShoppingCart</a>
            </td>
        </tr>
}
    </tbody>
</table>
