@model BLL.App.DTO.Price

<h4>Price</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CurrencyId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CurrencyId)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Cost)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Cost)
    </dd>
</dl>